.homeCt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainTitle {
    font-size: 3rem;
    color: #333;
}

.subTitle {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #666;

    p {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    h2 {
        font-weight: bold;
    }
}
